<a href="https://colab.research.google.com/github/Fructum1/Project/blob/main/Pet_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Importlibrary

In [13]:
import pandas as pd
import numpy as np
from IPython.display import display

#ImportData

In [6]:
data = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/glass/glass.data",header=None)
names = ["ID number", "RI","Na","Mg","Al","Si","K","Ca","Ba","Fe","Type of glass"]
data.columns = names
print(data)

     ID number       RI     Na    Mg  ...    Ca    Ba   Fe  Type of glass
0            1  1.52101  13.64  4.49  ...  8.75  0.00  0.0              1
1            2  1.51761  13.89  3.60  ...  7.83  0.00  0.0              1
2            3  1.51618  13.53  3.55  ...  7.78  0.00  0.0              1
3            4  1.51766  13.21  3.69  ...  8.22  0.00  0.0              1
4            5  1.51742  13.27  3.62  ...  8.07  0.00  0.0              1
..         ...      ...    ...   ...  ...   ...   ...  ...            ...
209        210  1.51623  14.14  0.00  ...  9.18  1.06  0.0              7
210        211  1.51685  14.92  0.00  ...  8.40  1.59  0.0              7
211        212  1.52065  14.36  0.00  ...  8.44  1.64  0.0              7
212        213  1.51651  14.38  0.00  ...  8.48  1.57  0.0              7
213        214  1.51711  14.23  0.00  ...  8.62  1.67  0.0              7

[214 rows x 11 columns]

In [10]:
data['Type of glass'].replace(
    {
        1: "building_windows_float_processed",
        2: "building_windows_non_float_processed",
        3: "vehicle_windows_float_processed",
        4: "vehicle_windows_non_float_processed",
        5: "containers",
        6: "tableware",
        7: "headlamps"
    }, inplace=True
)

     ID number       RI     Na  ...    Ba   Fe                     Type of glass
0            1  1.52101  13.64  ...  0.00  0.0  building_windows_float_processed
1            2  1.51761  13.89  ...  0.00  0.0  building_windows_float_processed
2            3  1.51618  13.53  ...  0.00  0.0  building_windows_float_processed
3            4  1.51766  13.21  ...  0.00  0.0  building_windows_float_processed
4            5  1.51742  13.27  ...  0.00  0.0  building_windows_float_processed
..         ...      ...    ...  ...   ...  ...                               ...
209        210  1.51623  14.14  ...  1.06  0.0                         headlamps
210        211  1.51685  14.92  ...  1.59  0.0                         headlamps
211        212  1.52065  14.36  ...  1.64  0.0                         headlamps
212        213  1.51651  14.38  ...  1.57  0.0                         headlamps
213        214  1.51711  14.23  ...  1.67  0.0                         headlamps

[214 rows x 11 columns]

In [18]:
for col in data.columns:
  fr = np.random.randint(5,10)/100
  data.loc[data.sample(frac=fr).index, col] = np.nan
print(data)

     ID number       RI     Na  ...    Ba   Fe                     Type of glass
0          1.0  1.52101  13.64  ...  0.00  0.0  building_windows_float_processed
1          2.0  1.51761  13.89  ...  0.00  0.0  building_windows_float_processed
2          3.0      NaN  13.53  ...  0.00  0.0                               NaN
3          NaN  1.51766  13.21  ...  0.00  0.0  building_windows_float_processed
4          5.0  1.51742    NaN  ...  0.00  0.0  building_windows_float_processed
..         ...      ...    ...  ...   ...  ...                               ...
209      210.0  1.51623  14.14  ...  1.06  0.0                         headlamps
210      211.0  1.51685  14.92  ...  1.59  NaN                         headlamps
211      212.0  1.52065    NaN  ...  1.64  0.0                         headlamps
212      213.0  1.51651  14.38  ...  1.57  0.0                               NaN
213      214.0  1.51711  14.23  ...   NaN  0.0                         headlamps

[214 rows x 11 columns]

#DataVizualize

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 214 entries, 0 to 213
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID number      181 non-null    float64
 1   RI             181 non-null    float64
 2   Na             190 non-null    float64
 3   Mg             189 non-null    float64
 4   Al             186 non-null    float64
 5   Si             189 non-null    float64
 6   K              186 non-null    float64
 7   Ca             181 non-null    float64
 8   Ba             190 non-null    float64
 9   Fe             184 non-null    float64
 10  Type of glass  179 non-null    object
dtypes: float64(10), object(1)
memory usage: 18.5+ KB

In [20]:
data.describe()

        ID number          RI          Na  ...         Ca          Ba          Fe
count  181.000000  181.000000  190.000000  ...  181.00000  190.000000  184.000000
mean   105.872928    1.518376   13.411211  ...    8.96011    0.165632    0.059293
std     62.777830    0.003131    0.832024  ...    1.44354    0.471541    0.099414
min      1.000000    1.511150   10.730000  ...    5.43000    0.000000    0.000000
25%     52.000000    1.516520   12.882500  ...    8.24000    0.000000    0.000000
50%    103.000000    1.517660   13.280000  ...    8.60000    0.000000    0.000000
75%    161.000000    1.519160   13.877500  ...    9.14000    0.000000    0.100000
max    214.000000    1.533930   17.380000  ...   16.19000    3.150000    0.510000

[8 rows x 10 columns]

In [25]:
display(data['Type of glass'].describe())
print("^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^")
display(data['Type of glass'].value_counts())

count                                      179
unique                                       6
top       building_windows_non_float_processed
freq                                        62
Name: Type of glass, dtype: object

^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^

building_windows_non_float_processed    62
building_windows_float_processed        56
headlamps                               26
vehicle_windows_float_processed         14
containers                              13
tableware                                8
Name: Type of glass, dtype: int64